:root {
  --color-primary: #dd0fbb;
  --color-shaodw: #de12ad30;
}

.header {
  font-size: 25px;
  text-align: center;
  background-color: var(--color-primary);
  box-shadow: 0rem 5px 5px var(--color-shaodw);
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.main {
  display: flex;
  gap: 20px;
}

.divider {
  min-height: 74vh;
  width: 50%;
}

.head2 {
  font-size: 17px;
  text-align: center;
  padding: 10px;
  border: 2px solid var(--color-primary);
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 15px 5px 15px 5px;
  box-shadow: 0 5px 5px var(--color-shaodw);
}

.editor,
.result {
  border: 2px solid var(--color-primary);
  min-height: 100%;
  padding: 10px;
  width: 100%;
  border-radius: 15px 5px 15px 5px;
  box-shadow: 0 5px 5px var(--color-shaodw);
}

.editor {
  resize: none;
  outline: none;
}

/*-------------------------- Markdown Result Styling ------------------------------- */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20.8px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 12.8px;
}
h6 {
  font-size: 11.2px;
}
